.btn-primary,
.btn-danger,
.btn-info {
	background-image: none;
}

.validation-summary-errors,
.field-validation-error {
	color: #dd4b39 !important;

	ul {
		margin-left: 0;
		padding-left: 0;

		li {
			list-style-type: none;
		}
	}
}

.pagination {
	margin: 2px 0;
}

.table .btn-sm {
	min-width: 40px;
}

.login-box .checkbox {
	margin: 0;
}